#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

/terraform/*.tfstate
/terraform/*.tfstate.*

# .tfvars files
*.tfvars
*.zip
files/
.gradle/
.idea/
build/
gradle/
*.iml